.side-bar
  .user-name
    .user-name__box
      = current_user.name
      .user-name__box__name 
      .user-name__box__icon
        .user-name__box__icon__new-group
          = link_to new_group_path do
            = icon('fas', 'edit')
        .user-name__box__icon__edit-user
          = link_to edit_user_path(current_user) do
            =  icon('fas', 'cog')
        
  .group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。

    